<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Gustavo Batista</h1>
        <h3>Software Engineer</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="//www.linkedin.com/in/gustavo-batista97" target="_blank"  class="">
            <img src="../../assets/linkedin.png" width="32" height="32" class="rounded-circle me-2">
        </a>
        <a href="//github.com/Guu-batista" target="_blank"  class="">
            <img src="../../assets/github.png" width="32" height="32" class="rounded-circle me-2">
        </a>
    </div>
</div>