<div class="container text-center">
    <button (click)="downloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF!</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Experiência Profissional</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>
                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Desenvolvedor iOS</h2>
                    <h3 class="text-primary">Apple Developer Academy</h3>
                    <h4 class="text-secundary" style="font-size: small;">Jan/2023 - Dez/2024</h4>
                    <ul>
                        <li>Aprendizado prático em desenvolvimento de aplicativos iOS utilizando Swift e SwiftUI.</li>
                        <li>Experiência colaborativa em projetos de inovação, trabalhando em equipes multidisciplinares.</li>
                        <li>Domínio de ferramentas do ecossistema Apple como Xcode, TestFlight e Interface Builder.</li>
                        <li>Desenvolvimento de habilidades em UX/UI focado na experiência do usuário em dispositivos iOS.</li>
                        <li>Participação em desafios de design thinking para solução de problemas reais através da tecnologia.</li>
                        <li>Contato direto com mentores da indústria e workshops sobre as últimas tendências de desenvolvimento mobile.</li>
                    </ul>
                    
                </div>
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Residente em Machine Learning</h2>
                    <h3 class="text-primary">CPQD</h3>
                    <h4 class="text-secundary" style="font-size: small;">Nov/2023 - Set/2024</h4>
                    <ul>
                        <li>Desenvolvimento e implementação de modelos de Machine Learning para soluções de inteligência artificial.</li>
                        <li>Pesquisa focada em aprendizado de máquina para área de transformação de fala</li>
                        <li>Trabalho com grandes volumes de dados, envolvendo pré-processamento, limpeza e engenharia de features.</li>
                        <li>Uso de frameworks populares como TensorFlow, PyTorch e Scikit-learn para construção de modelos preditivos.</li>
                        <li>Realização de pesquisas e aprofundamento nas áreas de transformação de fala e Processamento de Linguagem Natural</li>
                    </ul>
                </div>                
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Desenvolvedor Mobile - React Native</h2>
                    <h3 class="text-primary">LaRCom - Unicamp</h3>
                    <h4 class="text-secundary" style="font-size: small;">Maio/2022 - Out/2023</h4>
                    <ul>
                        <li>Desenvolvimento de aplicativos móveis multiplataforma utilizando React Native para Android e iOS.</li>
                        <li>Implementação de gerenciamento de estado global com Redux para uma arquitetura escalável e eficiente.</li>
                        <li>Integração com APIs RESTful e serviços backend para sincronização de dados em tempo real.</li>
                        <li>Otimização de performance e experiência do usuário através de animações e navegação fluida com React Navigation.</li>
                        <li>Colaboração com equipes multidisciplinares em sprints ágeis, garantindo entrega contínua e melhorias no aplicativo.</li>
                    </ul>
                </div>
                
                <hr>
                <div style="text-align: left;">
                    <h2 class="mb-0">Desenvolvedor NetSuite</h2>
                    <h3 class="text-primary">LaRCom - Unicamp</h3>
                    <h4 class="text-secundary" style="font-size: small;">Nov/2021 - Maio/2022</h4>
                    <ul>
                        <li>Desenvolvimento e customização de módulos no ERP NetSuite para atender às necessidades específicas do cliente.</li>
                        <li>Integração do NetSuite com sistemas internos e externos utilizando SuiteScript e APIs.</li>
                        <li>Automatização de processos de negócios através da criação de fluxos de trabalho personalizados no SuiteFlow.</li>
                        <li>Gerenciamento de dados financeiros e de inventário, otimizando a operação e o controle de recursos da empresa.</li>
                        <li>Criação de relatórios e dashboards customizados para facilitar a tomada de decisões e a análise de desempenho.</li>
                        <li>Colaboração com equipes de TI e operações para garantir a eficiência e estabilidade da plataforma ERP.</li>
                    </ul>
                </div>
                
                <hr>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Education</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                    <h2 class="mb-0">Análise e Desenvolvimento de sistemas</h2>
                    <h3 class="text-primary">Instituto Federal de São Paulo</h3>
                    <ul>
                        <li>Janeiro 2022 - Dezembro 2024</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isCertificateOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Certificados</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isCertificateOpen" style="color: white;">></div>
                        <div *ngIf="isCertificateOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div style="text-align: left;">
                 <h3>Certificado em Desenvolvedor iOS - Apple Developer Academy</h3>
                 <ul>
                    <li>Data prevista: Dezembro - 2024</li>
                 </ul>
                 <h3>Residência Tecnológica - Tecnologias de Fala - CPQD</h3>
                 <ul>
                    <li>09 de novembro de 2023 a 09 de agosto de 2024</li>
                 </ul>
                    
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div class="btn-link">Skills</div>

                    <div style="width: 10.95px;">
                        <div *ngIf="!isSkillOpen" style="color: white;">></div>
                        <div *ngIf="isSkillOpen" style="color: white;">v</div>
                    </div>
                </button>
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Linguagens:</h3>
                        <ul>
                            <li>Swift</li>
                            <li>Angular</li>
                            <li>React</li>
                            <li>React-Native</li>
                            <li>Javascript</li>
                            <li>Typescript</li>
                            <li>Python</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Frameworks</h3>
                        <ul>
                            <li>SwiftUi</li>
                            <li>UiKit</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                    <div class="col">
                        <h3>Other Skills</h3>
                        <ul>
                            <li>Comunicação</li>
                            <li>Proatividade</li>
                            <li>Adaptabilidade</li>
                            <li>Perceptivo</li>
                            <li>Inglês Avançado</li>
                        </ul>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>


    
</div>