<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Sobre mim</h2>
                <img src="../../assets/me.jpg" alt="Gustavo Batista" width="256" height="256" class="rounded-circle">
                <hr>
                <p>Olá, sou o Gustavo.</p>
                <p>Desenvolvedor de software com paixão em esportes e música. Experiência em criação de aplicativos iOS com swift e React Native, conhecimento em Angular e React. 
                   Sou uma pessoa criativa, gosto de inventar coisas e soluções das mais diversas maneiras. Gosto de praticar muitos esportes, entre eles jogar vôlei, academia e ciclismo. 
                </p>
            </div>
        </div>
        <!--Featured projects-->
        <div class="col-lg shadow border m-1">
            <div class="div text-center">
                <h2>Projetos Desenvolvidos</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Para ver mais, visite a área de Portifólio</p>
        </div>
    </div>
</div>
